.sec-about {
  width: 100%;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15rem 0 17rem 0;
  .text-about {
    color: #fff;
    text-align: center;
    font-size: 25px;
    padding: 0 22rem;
    h2 {
      font-size: 3rem;
      padding-bottom: 4rem;
    }
  }
  .texto-sec-about {
    margin: 1rem 0;
    font-family: "Raleway", sans-serif;
    .tech {
      font-family: "Raleway", sans-serif;
    }
  }
}

.sec-contacto {
  width: 100%;
  margin: 6rem 0;
  text-align: center;
  .contacto-text {
    width: 100%;
  }
}
