.sec-footer {
  width: 100%;
  background-color: #131313;
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 0;
  .footer-izq {
    color: #fff;
  }

  .footer-der {
    display: flex;
    color: #fff;
    a {
      text-decoration: none;
      color: #fff;
      margin: 0 1rem;
      font-size: 1rem;
      font-weight: 500;
    }
    a:hover {
      color: #9b9b9b;
    }
  }
}
