.sec-contacto {
  background-color: #feffff;
  padding: 0;
  margin: 0;

    // Imagen decorativa de fondo
  background-image: url('/multimedia/Grad_16.png');
  background-repeat: no-repeat;
  background-size: 40%; // Ajustás según el tamaño que te guste
  background-position: right center;
  .texto {
    color: #666666;
    font-size: 5rem;
    padding: 18rem 0 18rem 0;
    font-weight: 600;
    background-clip: text;
    -webkit-background-clip: text;
    color: #303030;
  }
}
