.sec-contacto {
  background-color: #ececec;
  padding: 0;
  margin: 0;
  .texto {
    color: #666666;
    font-size: 5rem;
    padding: 15rem 0 9rem 0;
    font-weight: 600;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #adadad, #5d5a6d);
  }
}
