@media (max-width: 768px) {
  .cont-saludos{
    width: 100%;
    background-position: center;
  }
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sec-izq {
    margin-bottom: 2rem;
  }

  .item-izquierdo {
    display: none;
  }

  .texto-contacto {
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #fff;
    background-color: #9e9e9e79;
    border-radius: 12px;
    border: 1px solid #979797;
  }

  .home {
    background-image: url(/multimedia/bbblurry.svg);
    background-size: cover;
    background-repeat: no-repeat;
    .imagen {
      .cont-saludos {
        padding-top: 11rem;
        .title {
          font-size: 3rem;
          margin-top: 2.5rem;
          margin-bottom: 6rem;
        }
        .texto-saludo {
          font-size: 1rem;
        }
      }
    }
  }

  .sec-about {
    .text-about {
      font-size: 1.5rem;
    }
  }

  .sec-footer {
    display: flex;
    flex-direction: column;
    padding: 5rem 0 2rem 0;
    .footer-izq {
      p {
        display: none;
      }
    }
    .footer-der {
      justify-content: center;
    }

    .footer-der {
      .item-footer {
        a {
          display: flex;
          justify-content: center !important;
          font-size: 1.2rem;
          font-weight: 600;
        }
      }
    }
  }
  .sec-about {
    .text-about {
      padding: 0 1rem;
    }
  }
  .sec-contacto {
    .contacto-text {
      width: 100%;
      .texto {
        font-size: 3.5rem;
        padding: 12rem 1rem 8rem 1rem;
      }
    }
  }
  .sec-tarjetas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 1rem;
    .tarjetas {
      flex-direction: column;
      .tarjeta-1 {
        background: linear-gradient(145deg, #e8e2f8, #d6d0ec);
      }
    }
  }
  .footer-1 {
    display: flex;
    flex-direction: column;
    padding: 10rem 0 5rem 0;
  }
  ul {
    padding-top: 2rem;
  }
}

@media (min-width: 1024px) {

  .sec-tarjetas .tarjetas {
    margin: 0;
  }
}
