@media (max-width: 768px) {
  body {
    background-color: #131313;
  }
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 0 0;
  }

  .sec-izq {
    margin-bottom: 2rem;
  }

  hr {
    display: none;
  }

  .item-izquierdo {
    display: none;
  }

  .texto-contacto {
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #979797;
    background-color: #c5c5c51c;
    border-radius: 12px;
    border: 1px solid #979797;
  }

  .home {
    .imagen {
      .cont-saludos {
        padding-top: 11rem;
        .title {
          font-size: 3rem;
          margin-top: 2.5rem;
          margin-bottom: 2rem;
        }
      }
    }
  }

  .sec-about {
    .text-about {
      font-size: 1.5rem;
    }
  }

  .sec-footer {
    display: flex;
    flex-direction: column;
    padding: 10rem 0 2rem 0;
    .footer-izq {
      p {
        display: none;
      }
    }
    .footer-der {
      justify-content: center;
    }

    .footer-der {
      .item-footer {
        a {
          display: flex;
          justify-content: center !important;
        }
      }
    }
  }
  .sec-about {
    .text-about {
      padding: 0 1rem;
    }
  }
  .sec-contacto {
    .contacto-text {
      width: 100%;
      .texto {
        font-size: 2.5rem;
        padding: 7rem 1rem 0 1rem;
      }
    }
  }
  .sec-tarjetas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .tarjetas {
      flex-direction: column;
      .tarjeta-1 {
        background-color: #1b1b1b;
        border: 1px dashed #505050;
      }
    }
  }
}

@media (min-width: 1024px) {
  .sec-tarjetas .tarjetas {
    margin: 0;
    padding: 5rem;
  }
}

@media (max-width: 1440px) {
  hr {
    display: none;
  }
}
