.nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  padding: 2rem;
  position: absolute;
}

.sec-izq {
  a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
  .item-izquierdo {
    margin: 0 5px;
    color: #9b9b9b;
  }
  a:hover {
    color: #9b9b9b;
  }
}

.sec-der {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  .item-derecha {
    margin: 0 1rem;
  }
  a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    margin: 0 1rem;
  }
  a:hover {
    color: #9b9b9b;
  }
}

.separador {
  color: #fff;
}
